<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Job title" formControlName="company">
          </mat-form-field>
        </div>
      </div>


      <div class="row">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company/dept" formControlName="firstName">
            @if (addressForm.controls['firstName'].hasError('required')) {
              <mat-error>First name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="description" formControlName="address"></textarea>
            @if (addressForm.controls['address'].hasError('required')) {
              <mat-error>Address is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Location" formControlName="city">
            @if (addressForm.controls['city'].hasError('required')) {
              <mat-error>City is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Category" formControlName="state">
              @for (state of states; track state) {
                <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
              }
            </mat-select>
            @if (addressForm.controls['state'].hasError('required')) {
              <mat-error>State is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Deadline" type="date" formControlName="city">
            @if (addressForm.controls['city'].hasError('required')) {
              <mat-error>City is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Qualification" #select formControlName="state">
              @for (state of states; track state) {
                <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
              }
            </mat-select>
            @if (addressForm.controls['state'].hasError('required')) {
              <mat-error>State is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

            <div class="row">
        <div class="col">
          @if (select.value == 'AL') {
            <mat-form-field class="full-width">
              <mat-label>Qualifications needed</mat-label>
              <mat-chip-grid #chipGrid aria-label="Fruit selection">
                @for (fruit of fruits; track fruit) {
                  <mat-chip-row (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                @for (fruit of filteredFruits | async; track fruit) {
                  <mat-option [value]="fruit">{{fruit}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          }
        </div>
      </div>
      
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Skills needed</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection">
            @for (fruit of fruits; track fruit) {
              <mat-chip-row (removed)="remove(fruit)">
                {{fruit}}
                <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            @for (fruit of filteredFruits | async; track fruit) {
              <mat-option [value]="fruit">{{fruit}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      
      </div>

      <div class="row">
          <mat-radio-group formControlName="shipping">
            <mat-radio-button value="free">On-site</mat-radio-button>
            <mat-radio-button value="priority">Remote</mat-radio-button>
            <mat-radio-button value="nextday">Hybrid</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="row">
        <mat-radio-group class="full-width" formControlName="shipping">
          <mat-radio-button value="free">Govt</mat-radio-button>
          <mat-radio-button value="priority">Non-Govt</mat-radio-button>
        </mat-radio-group>
    </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Application link" type="number" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>


      @if(hasUnitNumber) {
        
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Application link" type="number" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>

    } @else {
      <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
        + Add Official notification link
      </button>
    
    }

    @if(hasUnitNumber) {
        
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Application link" type="number" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>

    } @else {
      <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
        + Add Official notification link
      </button>
    
    }
    

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
